.page-header
  = link_to d_dungeoneers_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    =t('back')
  = link_to edit_d_dungeoneer_path(@d_dungeoneer), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    =t('edit')
  %h1= t('.show')

%dl.dl-horizontal
  %dt=t('d_dungeoneer.name').capitalize+':'
  %dd= @d_dungeoneer.name
  %dt=t('d_dungeoneer.desc').capitalize+':'
  %dd= @d_dungeoneer.desc
  %dt=t('d_dungeoneer.fo').capitalize+':'
  %dd= @d_dungeoneer.fo
  %dt=t('d_dungeoneer.coo').capitalize+':'
  %dd= @d_dungeoneer.coo
  %dt=t('d_dungeoneer.mem').capitalize+':'
  %dd= @d_dungeoneer.mem
  %dt=t('d_dungeoneer.vol').capitalize+':'
  %dd= @d_dungeoneer.vol
  %dt=t('d_dungeoneer.c_class').capitalize+':'
  %dd= @d_dungeoneer.c_class.name



