= form_for @f_fight, html: { class: "form-horizontal", role: "form" } do |f|
  -if @f_fight.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(f_fight.errors.count, "error")} prohibited this c_combat from being saved:"

      %ul
        - f_fight.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label 'Monster', class: 'col-sm-2 control-label'
    .col-sm-10
      = monster_select

  - 1.upto( 3 ).each do |i|
    .form-group
      = f.label "Dungeoneer #{i}", class: 'col-sm-2 control-label'
      .col-sm-10
        = opponent(i)


  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit value: t(:validate), class: 'btn btn-primary'
