.page-header
  = link_to c_classes_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    =t('back')
  = link_to edit_c_class_path(@c_class), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    =t('edit')
  %h1= t('.show')

%dl.dl-horizontal
  %dt=t('c_classes.Name')+':'
  %dd= @c_class.name
  %dt=t('c_classes.Desc')+':'
  %dd= @c_class.desc
