.page-header
  = link_to new_c_combat_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t( '.new' )
  %h1= t( '.list' )

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t( 'c_combat.result' ).capitalize
        %th
        %th
        %th

    %tbody
      - @c_combats.each do |c_combat|
        %tr
          %td= c_combat.result
          %td= link_to t( 'show' ), c_combat
          %td= link_to t( 'edit' ), edit_c_combat_path(c_combat)
          %td= link_to t( 'destroy' ), c_combat, data: { confirm: 'Are you sure?' }, method: :delete
