.page-header
  = link_to s_skills_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t('back')
  = link_to @s_skill, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    = t('show')
  %h1= t('.edit')

= render 'form'
