.page-header
  = link_to new_s_skill_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t( 'new_'+t('s_skill_gender') ) + ' ' + t( 's_skill' )
  %h1= t( 'listing' ) + ' ' +  t( 's_skills' )

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t( 'name' )
        %th= t( 'desc' )
        %th= t( 'difficulty' )
        %th
        %th
        %th

    %tbody
      - @s_skills.each do |s_skill|
        %tr
          %td= s_skill.name
          %td= s_skill.desc
          %td= s_skill.difficulty
          %td= link_to t( 'show' ), s_skill
          %td= link_to t( 'edit' ), edit_s_skill_path(s_skill)
          %td= link_to t( 'destroy' ), s_skill, data: { confirm: 'Are you sure?' }, method: :delete
