.page-header
  = link_to new_s_skill_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t( '.new' )
  %h1= t( '.list' )

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t( 's_skill.name' ).capitalize
        %th= t( 's_skill.desc' ).capitalize
        %th= t( 's_skill.difficulty' ).capitalize
        %th
        %th
        %th

    %tbody
      - @s_skills.each do |s_skill|
        %tr
          %td= s_skill.name
          %td= s_skill.desc
          %td= s_skill.difficulty
          %td= link_to t( 'show' ), s_skill
          %td= link_to t( 'edit' ), edit_s_skill_path(s_skill)
          %td= link_to t( 'destroy' ), s_skill, data: { confirm: 'Are you sure?' }, method: :delete
